node_modules/
.expo/
.expo-shared/
.gradle-home/
.gradle-home-fresh/
dist-preview/
dist/
web-build/
android/
ios/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.keystore
*.jks
local.properties
.env
.env.*
